In [1]:
# Dependencies
import pandas as pd

In [2]:
# read csv files

hawaii_measurements = "hawaii_measurements.csv"
hawaii_measurements_data = pd.read_csv(hawaii_measurements)

hawaii_stations = "hawaii_stations.csv"
hawaii_stations_data = pd.read_csv(hawaii_stations)

In [15]:
# view hawaii_measurements_data
hawaii_measurements_data.head(1)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65

In [16]:
# view hawaii_stations_data
hawaii_stations_data.head(1)

       station                  name  latitude  longitude  elevation
0  USC00519397  WAIKIKI 717.2, HI US   21.2716  -157.8168        3.0

In [20]:
# inspect each data for NaN and decide how to address them
hawaii_measurements_data[pd.isnull(hawaii_measurements_data).any(axis=1)]

hawaii_stations_data[pd.isnull(hawaii_stations_data).any(axis=1)]

Empty DataFrame
Columns: [station, name, latitude, longitude, elevation]
Index: []

In [26]:
# hawaii_measurements_data NaNs will be replaced with 0, hawaii_stations_datahas no NaNs. "Clean" dataframes are created.
clean_hawaii_measurements_data = hawaii_measurements_data.fillna(0)
clean_hawaii_stations_data = hawaii_stations_data

In [27]:
# verify clean version of clean_hawaii_measurements_data
clean_hawaii_measurements_data[pd.isnull(clean_hawaii_measurements_data).any(axis=1)]

Empty DataFrame
Columns: [station, date, prcp, tobs]
Index: []

In [35]:
clean_hawaii_measurements_data.to_csv('clean_hawaii_measurements_data.csv')
clean_hawaii_stations_data.to_csv('clean_hawaii_stations_data.csv')