In [1]:
# Dependencies
import pandas as pd

from sqlalchemy import create_engine

import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float

import sqlite3

In [2]:
# read clean csv files

clean_hawaii_measurements = "clean_hawaii_measurements_data.csv"
clean_hawaii_measurements = pd.read_csv(clean_hawaii_measurements)
clean_hawaii_measurements.drop(['Unnamed: 0'], axis = 1, inplace = True)

clean_hawaii_measurements.head(1)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65

In [3]:
clean_hawaii_stations = "clean_hawaii_stations_data.csv"
clean_hawaii_stations = pd.read_csv(clean_hawaii_stations)
clean_hawaii_stations.drop(['Unnamed: 0'], axis = 1, inplace = True)

clean_hawaii_stations.head(1)

       station                  name  latitude  longitude  elevation
0  USC00519397  WAIKIKI 717.2, HI US   21.2716  -157.8168        3.0

In [4]:
class measurerment(Base):
  __tablename__ = "measurerments"
  ID = Column(String(255), primary_key=True)
  station= Column(String(255))
  date= Column(Integer)
  prcp= Column(Integer)
  tobs= Column(Integer)

class station(Base):
  __tablename__ = "stations"
  ID = Column(String(255), primary_key=True)
  station= Column(String(255))
  name= Column(String(255))
  latitude= Column(Integer)
  longitude= Column(Integer)
  elevation= Column(Integer)

In [5]:
# Create Database Connection
# ----------------------------------
# Establish Connection to MySQL
engine = create_engine('sqlite:///hawaii.sqllite.db')
conn = engine.connect()

# Create both the measurerments and stations tables within the database
Base.metadata.create_all(conn)

# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [6]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

# Create a Session Object to Connect to DB
# ----------------------------------
# Session is a temporary binding to our DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [7]:
#automap_base check dow example

In [8]:
conn = sqlite3.connect('hawaii.sqllite.db')

In [9]:
#Sharanya got it working with to_sql. from her “You can use df.to_sql, but just have to make sure you set if_exits=‘append’”

In [10]:
#clean_hawaii_stations

In [11]:
# DF.to_sql
clean_hawaii_measurements.to_sql('measurements', 
                             conn, 
                             flavor=None, 
                             schema=None, #schema=station,
                             if_exists='replace', #if_exists='append'
                             index=True, 
                             index_label=None, 
                             chunksize=None, 
                             dtype=None)

clean_hawaii_stations.to_sql('stations', 
                             conn, 
                             flavor=None, 
                             schema=None, #schema=station,
                             if_exists='replace', #if_exists='append'
                             index=True, 
                             index_label=None, 
                             chunksize=None, 
                             dtype=None)

In [12]:
engine.execute('SELECT * FROM stations').fetchall()

[(0, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (1, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (2, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (3, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (4, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (5, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (6, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9),
 (7, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (8, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

In [13]:
engine.execute('SELECT latitude, longitude FROM station').fetchall()

[(21.2716, -157.8168),
 (21.4234, -157.8015),
 (21.5213, -157.8374),
 (21.3934, -157.9751),
 (21.4992, -158.0111),
 (21.33556, -157.71139),
 (21.45167, -157.84888999999995),
 (21.3152, -157.9992),
 (21.3331, -157.8025)]

In [19]:
# df.set_index('ID').T.to_dict('list')

clean_hawaii_measurements.set_index('index').T.to_dict('list')

KeyError: 'index'